@page
@model WilliamsAlyssaPrototype.Pages.AboutUsModel
@{
}

<div class="row">


    <div class="col-sm-6">

        <h2>
            About Us
        </h2>

        <img src="images/Owners2.jpg" alt="Owners of Jesse James Lawncare" class="img-fluid" />



        <p>
            Jesse James Lawn Care was started by brothers Jesse and Dylan (left to right). They both have a passion for lawn care and wanted to provide an affordable and reliable
            lawncare service to the Tulsa community.
        </p>

    </div>



    <div class="col-sm-6">


        <h2>
            Community Work
        </h2>
        <img src="images/Leaves.jpg" alt="Leaf Pile" class="img-fluid" />
        <p>
            Not only do they maintain lawns through Jesse James Lawncare, but they offer services through their own inidividual Youtube channels
            to help people with overgrown lawns.
        </p>

    </div>
</div>

@*Youtube Video*@
<div class="row">
    <div class="col-sm-12">
        @* 21:9 aspect ratio *@
        <div class="ratio ratio-16x9 videocontainer">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fAI3Cdd3gYw" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        </div>
    </div>
</div>

