@page
@model WilliamsAlyssaPrototype.Pages.AboutUsModel
@{
}

<div class="row">
    <div class="col-sm-6">

        <h2>
            About Us
        </h2>

        <img src="images/Owners2.jpg" alt="Owners of Jesse James Lawncare" class="img-fluid" />
    </div>
    <div class="col-sm-6">
        <p>
            Jesse James Lawn Care was started by brothers Jesse and Dylan (left to right). They both have a passion for lawn care and wanted to provide an affordable and reliable
            lawncare service to the Tulsa community. Why is it called Jesse James Lawncare? Simple - James is Jesse's middle name and Jesse James is a memorable name!
        </p>
    </div>

</div>

<div class="row">
    <div class="col-sm-6">
        <p>
            Not only do they maintain lawns through Jesse James Lawncare, but they have devoted time to servicing over-grown lawns for people within their community. These jobs are typically
            require a major cleanup. They do these jobs free of charge and post them to their individual Youtube Channels. Check out the video below of one of their largest jobs they did.

            <br />
            <br />

            <h6>Check out their Youtube Channels:</h6>
            <h6>Big Dylan Lawn Care</h6>
            <h6>Jayy's Lawn Obsession</h6>
        </p>

        <br />

        <h5>Do you know anyone in need that could use a free lawn cleanup? Contact us and we will reach out!</h5>
    </div>

    <div class="col-sm-6">

        <h2>
            Community Work
        </h2>
        <img src="images/Leaves.jpg" alt="Leaf Pile" class="img-fluid" />

    </div>

</div>

@*Youtube Video*@
<div class="row ">
    <div class="col-sm-12 videocontainer">
        @* 21:9 aspect ratio *@
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fAI3Cdd3gYw" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        </div>
    </div>
</div>

