@page
@model WilliamsAlyssaPrototype.Pages.AboutUsModel
@{
}

<div class="row">
    <div class="col-sm-12">
        @* 21:9 aspect ratio *@
        <div class="ratio ratio-21x9">
            @* place embed code from YouTube video inside this div *@
            <iframe src="https://www.youtube.com/embed/Xr1G0TGPDtE"
                    title="Lawncare Video" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        </div>
    </div>
</div>

