@page
@model WilliamsAlyssaPrototype.Pages.ServicesModel
@{
}

<div class="row">
    <div class="col-sm-12 servicesdivider">
        <h3>Divider Row with text to intro services</h3>
    </div>

</div>

<div class="row">
    <div class="col-sm-12 servicesdivider">
        <h3>Row for Filters for Services</h3>
    </div>

</div>

@*Rows for Services - two rows w/ two  4 columns wide & one row with two 6 columns wide *@

<div class="row">
    <div class="col-sm-3 imgcontainer">
        <img src="images/placeholder-image.png" alt="placeholder" class="img-fluid" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>
    <div class="col-sm-3 imgcontainer">
        <img src="images/placeholder-image.png" alt="placeholder" class="img-fluid" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>
    <div class="col-sm-3 imgcontainer">
        <img src="images/placeholder-image.png" alt="placeholder" class="img-fluid" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>
    <div class="col-sm-3 imgcontainer">
        <img src="images/placeholder-image.png" alt="placeholder" class="img-fluid" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>

</div>

<div class="row">
    <div class="col-sm-3 imgcontainer">
        <img src="images/placeholder-image.png" alt="placeholder" class="img-fluid" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>
    <div class="col-sm-3 imgcontainer">
        <img src="images/placeholder-image.png" alt="placeholder" class="img-fluid" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>
    <div class="col-sm-3 imgcontainer">
        <img src="images/placeholder-image.png" alt="placeholder" class="img-fluid" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>
    <div class="col-sm-3 imgcontainer">
        <img src="images/placeholder-image.png" alt="placeholder" class="img-fluid" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>

</div>
<div class="row">
    <div class="col-sm-3 imgcontainer">
        <img src="images/placeholder-image.png" alt="placeholder" class="img-fluid" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>
    <div class="col-sm-3 imgcontainer">
        <img src="images/placeholder-image.png" alt="placeholder" class="img-fluid" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>
</div>
