

/*Home & _Layout Pages*/

html {
    height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #FFFFFF;
    height: 100%;
}

.my-nav-item {
    font-family: 'Red Hat Display', sans-serif;
}

p {
    text-align: justify;
    font-family: 'Red Hat Display', sans-serif;
}

.logoimg {
    width: 100%;
}

.logocontainer {
    width: 11rem;
    padding: 0;
}

.navtext {
    color: white !important;
}

.droptext {
    color: #285441 !important;
}

.my-footer {
    background-color: #3E6453;
    text-align: center;
    display: flex;
    font-family: 'Red Hat Display', sans-serif;
}

.contactinfo {
    justify-content: center;
    color: white;
}

/*.footerlinks {
    border: 1px solid black; 
    color: white;
}*/

.my-bg-light {
    background-color: #3E6453;
    padding-bottom: 0;
}

.header {
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 30rem;
}

.headertextbkgrnd {
    min-height: 30rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.headertxt {
    font-family: 'Oleo Script', cursive;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}

.whydivider {
    background-color: #293748;
    text-align: center;
    color: white;
}

.secondtitle {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Oleo Script', cursive;
}

.hometextheader {
    font-family: 'Oleo Script', cursive;
}

.homeservicesbanner {
    display: flex;
    align-items: center;
    background-color: #293748;
    color: white;
    text-align: center;
    height: 6.5rem;
    font-family: 'Oleo Script', cursive;
}

.carouselbackgrnd {
    display: flex;
    min-height: 20rem;
}

.carouselcol {
    padding: 0;
}

.carousel-indicators [data-bs-target] {
    background-color: white;
}

.carousel-control-prev, .carousel-control-next {
    background-color: #3E6453;
    width: 11.25rem;
    height: 33.75rem;
}

.carousel-control-next {
    right: .01%;
}

.carousel-control-prev {
    left: .01%;
}


/*Services Page*/
.servicesheader {
    background-color: #293748;
    color: white;
}

.servicesheadertxt {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 40px;
    font-family: 'Oleo Script', cursive;
}


.filterrow {
    background-color: #293748;
    color: white;
    display: flex;
    padding: 1rem;
}


.servicesimgcontainer {
    margin-top: 1rem;
    background-color: #3E6453;
    color: white;
    padding: 1rem;
}

.servicetxt {
    font-family: 'Red Hat Display', sans-serif;
}

/*About Us Page*/
.aboutustitle {
    font-size: 40px;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Oleo Script', cursive;
}

.aboutusheader {
    margin-bottom: 2rem;
    background-color: #293748;
    text-align: center;
    color: white;
}

.Ownerscontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.ownertitle {
    background-color: #3E6453;
    color: white;
    width: 40rem;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
}

.communitytitle {
    background-color: #3E6453;
    color: white;
    width: 40rem;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
}

.communitycontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

/*.youtube {
    text-align: center;
    background-color: #3E6453;
    color: white;
    width: 15rem;
}
*/
.videocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 2rem;
}

.aboutusdivider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background-color: #293748;
    text-align: center;
    color: white;
    height: 4rem;
    font-family: 'Oleo Script', cursive;
}
