

/*Home & _Layout Pages*/
html {
    height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #FFFFFF;
    height: 100%;
}

.logoimg {
    width: 100%;
}

.logocontainer {
    width: 11rem;
    padding: 0;
}

.navtext {
    color: white !important;
}

.droptext {
    color: #285441 !important;
}

.my-footer {
    background-color: #3E6453;
    text-align: center;
    display: flex;
}

.contactinfo {
    justify-content: center;
    color: white;
}

/*.footerlinks {
    border: 1px solid black; 
    color: white;
}*/

.my-bg-light {
    background-color: #3E6453;
    padding-bottom: 0;
}

.header {
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 30rem;
}

.headertextbkgrnd {
    min-height: 30rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.headertxt {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}

.whydivider {
    background-color: #293748;
    text-align: center;
    color: white;
}

.my-homebtn {
    margin-top: 1rem;
    width: 80rem;
}

.secondtitle {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.servicesbanner {
    color: white;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.carouselbackgrnd {
    /*background-color: #E1E1C3;*/
    min-height: 20rem;
}

.carousel-indicators [data-bs-target] {
    background-color: white;
}

.carousel-control-prev, .carousel-control-next {
    background-color: #3E6453;
    width: 3.25em;
    height: 3.25em;
    border-radius: 50%;
    top: calc(50% - 1.625em);
}

.carousel-control-next {
    right: 5%;
}

.carousel-control-prev {
    left: 5%;
}

.imgcontainer {
    margin-top: 1rem;
}

.servicesdivider {
    background-color: #3E6453;
    height: 5rem;
    margin-top: 2rem;
    text-align: center;
}

/*About Us Page*/

.videocontainer {
    border: 1px solid black;
    display: flex;
    width: 50rem;
    justify-content: center;
    align-items: center;
}
